.Admin-left,
.Admin-top-nav{
    background: #f7f7f7;
}
.Admin-top-nav{
    padding-right: 20px !important;
}
.Admin-left{
    padding: 20px;
    height: 100vw;
    border-right: 1px solid rgb(225, 225, 225);
}
.Admin-right{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.Admin-top-nav{
    padding: 20px 0;
}

.Admin-profile{
    padding: 20px !important;
}

.Account-widget{
    padding-bottom: 20px;
}