@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto !important;
}
.Demo-nav {
  width: 100%;
  background: black;
  float: left;
  z-index: 1000;
}
.Demo-nav ul {
  list-style: none;
}
.Demo-nav ul li {
  float: left;
  padding: 5px 10px;
}
.Demo-nav ul li .active {
  color: white;
}

.App-container {
  float: left;
}

#facebook {
  background-color: #3b5998;
}

#google {
  background-color: #db4437;
}

#twitter {
  background-color: #1da1f2;
}
